html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	margin: 0px;
	padding: 0px;
	background-color: #eee;
	font-size: 1.2em;
	color: #444;
}

header {
	padding: 50px;
	background-color: #ddd;
	border-bottom: 1px solid #999;
}

header > h1 {
	margin: 0px;
	padding: 0px;
}

header > h1 > a[href], header > h1 > a[href]:hover {
	text-decoration: none;
	color: #444;
}

nav {
	text-align: center;
}

main {
	position: relative;
	padding: 50px;
}

main h1 {
	font-size: 150%;
}

footer {
	border-top: 1px solid #999;
	padding: 20px 0px;
	font-size: 0.7em;
	text-align: center;
}

a[href], a[href]:visited, a[href]:active {
	color: #444;
}

a[href]:hover, a[href]:focus {
	color: #000;
	text-decoration: none;
}

button, input[type=text], textarea {
	font-size: 1em;
}

input[type=text][readonly] {
	color: #777;
}

input[type=text]:disabled, button:disabled {
	cursor: not-allowed;
}

#mentocoin-account,
#mentocoin-account-pubkey {
	font-family: monospace;
}

#load-pubkey-btn,
#new-key-btn,
#compute-signature-btn,
#register-new-account button,
#register-link-account button {
	font-size: 0.7em;
}

#load-pubkey-btn {
	vertical-align: top;
}

#compute-signature-btn {
	vertical-align: 20%;
}

#register-link-account {
	display: none;
}

#load-key-picker {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	left: -2000px;
}

#notification-banner {
	display: none;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	min-width: 300px;
	max-width: 100%;
	width: 50%;
	border: 1px solid #aaa;
	border-top: 0px;
	background-color: #e0edfa;
	background-image: linear-gradient(#f1f8ff, #e0edfa);
	padding: 15px 50px;
	text-align: center;
}

#notification-banner-text {
	font-size: 0.7em;
}

#notification-close-btn {
	display: inline;
	margin-top: 10px;
	background-color: #eee;
	border: 1px solid #bbb;
	padding: 6px 30px;
	cursor: pointer;
	font-size: 0.5em;
}

#notification-cancel-btn {
	position: absolute;
	padding: 0px;
	margin: 0px;
	top: 3px;
	right: 6px;
	color: #999;
	font-size: 0.6em;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
